In [19]:
import pandas as pd

from datetime import datetime

In [20]:
def dt(hour, minute, second=0):
    return datetime(2023, 1, 1, hour, minute, second)

In [21]:
data = [
    (None, None, dt(1, 1), dt(1, 10)),
    (1, 1, dt(1, 2), dt(1, 10)),
    (1, None, dt(1, 2, 0), dt(1, 2, 59)),
    (3, 4, dt(1, 2, 0), dt(2, 2, 1)),      
]

columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime']
df = pd.DataFrame(data, columns=columns)

In [22]:
df

   PULocationID  DOLocationID tpep_pickup_datetime tpep_dropoff_datetime
0           NaN           NaN  2023-01-01 01:01:00   2023-01-01 01:10:00
1           1.0           1.0  2023-01-01 01:02:00   2023-01-01 01:10:00
2           1.0           NaN  2023-01-01 01:02:00   2023-01-01 01:02:59
3           3.0           4.0  2023-01-01 01:02:00   2023-01-01 02:02:01

In [23]:
def prepare_data(df, categorical):
    
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')

    return df

In [24]:
categorical = ['PULocationID', 'DOLocationID']

In [25]:
result_df = prepare_data(df, categorical)

In [26]:
df

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,NaN,NaN,2023-01-01 01:01:00,2023-01-01 01:10:00,9.000000
1,1.0,1.0,2023-01-01 01:02:00,2023-01-01 01:10:00,8.000000
2,1.0,NaN,2023-01-01 01:02:00,2023-01-01 01:02:59,0.983333
3,3.0,4.0,2023-01-01 01:02:00,2023-01-01 02:02:01,60.016667

In [28]:
result_df.to_dict()

{'PULocationID': {0: '-1', 1: '1'},
 'DOLocationID': {0: '-1', 1: '1'},
 'tpep_pickup_datetime': {0: Timestamp('2023-01-01 01:01:00'),
  1: Timestamp('2023-01-01 01:02:00')},
 'tpep_dropoff_datetime': {0: Timestamp('2023-01-01 01:10:00'),
  1: Timestamp('2023-01-01 01:10:00')},
 'duration': {0: 9.0, 1: 8.0}}